# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Cache
.cache/
.eslintcache

# Optional
coverage/
